@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');

body {
  font-family: Lato, sans-serif;
}

nav {
  font-family: Gentium Book Basic, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Yeseva One, sans-serif;
}
